      <form #newInput="ngForm" (ngSubmit)="processFormInput(newInput)" fxLayout="column">
          <mat-form-field>
              <input type="text" name="email" placeholder="Email" ngModel matInput required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          </mat-form-field>
          <mat-form-field>
              <input type="password" name="password" placeholder="Password" ngModel matInput required pattern="^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$">
              <!---
                <mat-hint>Minimum 8 characters must contain at lease one of the following: number,uppercase character, lowercase character and special character(@#$)</mat-hint>
              --->
              <mat-error>Minimum 8 characters must contain at lease one of the following: number,uppercase character, lowercase character and special character(@#$)</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input type="text" name="name" placeholder="Name" ngModel matInput required>
          </mat-form-field>
          <div fxLayout = "row" fxLayoutGap="2vw">
            <div fxLayout="column" fxLayoutAlign = "start" fxFlex="grow">
              <div>Gender:</div>
              <mat-radio-group name="gender" ngModel fxLayout="row" fxLayoutAlign = "start" fxLayoutGap="2vw" required>
                  <mat-radio-button *ngFor="let item of gender" [value]="item">
                    {{item}}  
                  </mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date of Birth" ngModel matInput name="dob" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-form-field>
              <textarea type="text" name="address" placeholder="Address" ngModel matInput required></textarea>
          </mat-form-field>
          <mat-form-field>
              <input type="text" name="country" placeholder="Country" ngModel matInput required>
          </mat-form-field>
          <mat-form-field>
              <input type="tel" name="contact" placeholder="Contact Number" ngModel matInput required pattern="^[+]{0,1}[(]{0,1}[\d]{0,4}[)]{0,1}[\-]{0,1}[\d]*[\-]{0,1}[\d]*[\-]{0,1}[\d]+$">
              <mat-error>Please input in following format ( country code ) area code - contact number - extension </mat-error>
          </mat-form-field>
          
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="newInput.invalid">
            <mat-icon>library_add</mat-icon>
            Submit
          </button>
        </div>
      </form>
